<%= form_for([@articulo,@comment], remote:true, :html=>{id:"comments-form", :"data-type"=>"json"}) do |f| %>  
  <div class="form-group">
    <%= f.text_area :body, placeholder:"Escribe tu comentario aqui", class:"form-control", rows:"7" %>
  </div>
  <div class="actions">
    <%= f.submit "Comentar", class: "btn btn-primary" %>
  </div>
  <br>
<% end %>
