<div class="well text-center">
	<h1>Crear Artículo</h1>
</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<%= render "form" %>
		</div>
		<div class="col-md-1"></div>
	</div>