header{
	padding-top: 70px;
}
body{
	font-size: 17px;
}
hr{
	border-top: 2px solid #D4D4D4;
}
error{
	font-size: 12px;
}
footer.container-fluid{
	background-color: #393939;
	color: #eee;
	padding: 20px;
}

.labelpointer{
	cursor:pointer;
}

.img-post{
	width: 200px;
	display:inline-block;
}

.img-post-show{
	margin:0 auto;
}

.img-post-edit{
	width:100px !important;
	display:inline-block;
}