header{
	padding-top: 70px;
}
body{
	font-size: 17px;
}
hr{
	border-top: 2px solid #D4D4D4;
}
error{
	font-size: 12px;
}
footer.container-fluid{
	background-color: #393939;
	color: #eee;
	padding: 20px;
}