    <!-- Blog Search Well -->

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <% @categories_nav.each do |categoria| %>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to categoria.name, categoria, style:"color:#{categoria.color};" %></li>
                    <% end %>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
